@import './variables.less';

html,
body,
#app {
  width: 100%;
  height: 100%;
}

#app {
  background: #F4F4F4;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

//修改默认滚动条样式
// 谷歌
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background-color: rgba(144, 147, 153, .3);
}

::-webkit-scrollbar-track {
  display: none;
}

// 火狐
* {
  scrollbar-color: rgba(144, 147, 153, .3) transparent;
  scrollbar-width: thin; // auto thin none
}

